/* main font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* topnav menu */

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* width: 1162px; */
    /* height: 44px; */
    padding: 20px 0;
    /* margin: 0px 50px; */
    background-color: #2D25A0;
}
.topnav a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    /* padding: 0px 0px 0px 0px; */
    margin: 0px 20px 0px 20px;
}
.topnav .fa-sign-in-alt {
    color: #ffffff;
}
.topnav span{
    padding: 0px 50px 0px 50px;
}

/* common or utillitie */
body {
    margin: 0;
    /* padding: 0; */
    font-family: 'Poppins', sans-serif;
}

/* top banner */

.top-banner {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 60px;
    height: 677px;
    background-color: #2D25A0;
    margin-top: 0;
    position: relative;
}
.top-heading {
    font-size: 40px;
    color: #ffffff;
    padding-left: 95.99px;
}
.top-banner img {
    width: 618.01px;
    /* height: 438px; */
    /* padding-right: 90.99px; */
}
/* .top-banner img:hover {
    background-position-x: center;
    transform: translateX(12em, 20em);
    transition: 10s;
} */
.banner-button {
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-left: 100px;
}
  /* start animation */

/* banner image animation */

.top-banner-img {
    animation-duration: 3s;
    animation-name: top-banner-img;
    animation-iteration-count: inherit; 
}
@keyframes top-banner-img {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/* top-heading animation*/

.springy-text, .top-heading {
  color: white;
  animation-name: springy-text;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes springy-text {
  0%   {
    letter-spacing: .9em;
    color: white;
  }
  100%   {
    letter-spacing: 0.1em;
    color: #ffffff;
  }
}
/* end animation */

/* start players section */
.player-section{
  margin: 100px 50px 100px 50px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-column-gap: 50px;
  grid-row-gap: 30px;
}
.player {
  /* margin: 70px 100px 70px 100px; */
  text-align: center;
}
.player-box {
  width: 320px;
  /* height: 474px; */
  /* padding: 15px 15px 15px 15px; */
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.644);
}
.player img {
  width: 250px;
  height: 256px;
  padding: 15px 15px 5px 15px;
}
/* .player-box, h2, img, p{
  padding: 15px 15px 5px 15px;
  
} */
.player-box h2{
  margin-top: -5px;
  padding: 15px 15px 15px 15px;
}
.player-box p {
  margin: -21px ​0px 30px 0px;
  padding: 15px 15px 15px 15px;
}

/* popular section */

/* .popular-section{
  background-image: url(images/bg.jpg);
  padding: 100px 0;
} */
.popular-section, .popular-viedo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* footer section */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}
footer img {
  width: 400.87px;
  height: 110px;
}
footer .icon {
  font-size: 20px;
}